body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  display: flex;
  gap: 20px;
}

.header .folderBtns {
  display: flex;
  gap: 5px;
}

button#addFolderBtn,
button#createChildFolderBtn,
button#uploadFileBtn,
button#editFolderBtn,
button#deleteFolderBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#uploadFileBtn {
  background-color: yellow;
  color: black;
}

button#editFolderBtn {
  background-color: royalblue;
}

button#deleteFolderBtn {
  background-color: red;
}

button#addFolderBtn:hover {
  background-color: #218838;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  gap: 10px;
}

.modal-content form input {
  flex: 2;
}

.modal button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.modal button[type="submit"]:hover {
  background-color: #0056b3;
}
